<div id="cocktail_image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo.path, crop: :fill if @cocktail.photo?%>')">
<div class="container text-center", style="color: white">

  <h1><%= @cocktail.name %></h1>
  <% @cocktail.doses.each do |dose| %>
  <p>
    description: <%= dose.description %>
  </p>
  <p>
    dose: <%= dose.dose %>
  </p>
  <%= link_to "delete", dose_path(dose), method: :delete %>
  <% end %>
  <div class="row">
    <div id="form_show" class="col-sm-4 col-sm-offset-4">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.error_notification %>
      <%= f.input :description %>
      <%= f.input :dose %>
      <%= f.association :ingredient%>
      <%= f.submit 'Add Dose', class: "btn btn-primary" %>
      <%= button_to "Back to all", cocktails_path, :class => "btn btn-primary" %>

      <% end  %>
    </div>
  </div>
</div>
</div>
