<div id="cocktail_image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo.path, crop: :fill if @cocktail.photo?%>')">
<div class="container text-center", style="color: white">
<div id="show_summery" class="row">
  <h1><%= @cocktail.name %></h1>
  <% @cocktail.doses.each do |dose| %>
  <p>
    Description: <br> <%= dose.description %>
  </p>
  <p>
    What's needed: <br> <%= dose.dose %>
  </p>
  <p> Key ingredient : <br>
    <%= dose.ingredient.name %></p>
  <%= link_to dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-trash" style="color: white"></i>
        <% end %>
  <% end %>
  </div>

  <div class="row">
    <div id="form_show" class="col-sm-4 col-sm-offset-4">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.error_notification %>
      <%= f.input :description %>
      <%= f.input :dose %>
      <%= f.association :ingredient%>
      <%= f.submit 'Add Dose', class: "btn btn-primary" %>
      <%= button_to "Back to all", cocktails_path, :class => "btn btn-primary" %>

      <% end  %>
    </div>
  </div>
</div>
</div>
